doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
