 #avgTimeTitle {
 	font-size: 1.5em;
}

 #avgTimeNum  #time{
	font-size: 2em;
 }

 .axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}